.about-container {
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}
.about-container .user-about {
  letter-spacing: 0.6pt;
  font-size: 18px;
}
.about-container header {
  text-align: center;
  margin-bottom: 1rem;
}
.about-container header h1 {
  text-decoration: underline;
  font-size: 41px;
  margin-bottom: 23px;
}
.about-container header p {
  text-align: center;
  margin: 13px 0 9px;
  font-size: 17px;
}
.about-container .my-stack-container {
  display: flex;
  align-self: center;
  position: relative;
  flex-direction: column;
  width: min-content;
  margin-block: 3px 5rem;
  gap: 52px;
}
.about-container .my-stack-container .box-item {
  padding: 23px;
  background: #ecf9ff;
  border: rgba(26, 26, 26, 0.8784313725) solid 4px;
  transition: all 0.53s ease-in-out;
}
.about-container .my-stack-container .box-item:hover {
  filter: drop-shadow(15px 21px 1px #242424);
}
.about-container .my-stack-container .box-item .text-inline {
  display: inline-flex;
}
.about-container .my-stack-container .box-item .text-inline h2 {
  font-size: 28px;
  font-weight: bolder;
}
.about-container .my-stack-container .box-item .text-inline .icon-LaptopCode {
  font-size: 32px;
  transform: translateY(3px);
  margin: 0 7px 0;
}
.about-container .my-stack-container .box-item .box-material {
  padding: 10px;
}
.about-container .my-stack-container .box-item .box-material p {
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 21px;
  margin-bottom: 6px;
}
.about-container .my-stack-container .box-item .box-material p .icon-SlArrowRight {
  color: #3c486b;
}
.about-container .my-stack-container .box-item .box-material .b-underline {
  height: 0.1px;
  width: 90%;
  background: #3c486b;
}
.about-container .my-stack-container .box-item .languages-group {
  display: flex;
  justify-content: center;
  padding: 30px;
  margin: 15px auto;
  background: #fffdfd;
  border-radius: 23px;
}
.about-container .my-stack-container .box-item .languages-group img {
  cursor: pointer;
  width: 120px;
  height: 80px;
  margin-inline: -3px;
  transition: all 0.4s ease-out;
}
.about-container .my-stack-container .box-item .languages-group img:hover {
  scale: 120%;
  filter: drop-shadow(0 0 9px rgba(0, 0, 0, 0.32));
}

.Accordion-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0;
  margin: 3rem 2rem;
}
.Accordion-container .AccordionItem {
  border: 0.1px solid #080202;
  font-size: 22px;
  cursor: default;
  width: 70%;
  height: fit-content;
}
.Accordion-container .AccordionItem:nth-child(even) {
  border-top: none;
  border-bottom: none;
}
.Accordion-container .AccordionItem .AccordionItemHeading {
  transition: all 0.12s ease;
  cursor: pointer;
  background: #fcfbfb;
  padding: 15px;
}
.Accordion-container .AccordionItem .AccordionItemHeading:hover {
  background: #f0efef;
}
.Accordion-container .AccordionItem .AccordionItemHeading .AccordionItemButton div .icon-arrow {
  font-size: 32px;
  transform: translateY(7px);
}
.Accordion-container .AccordionItem .AccordionItemHeading .AccordionItemButton div p {
  word-spacing: 0.1pt;
  display: inline;
  text-align: start;
  user-select: none;
}
.Accordion-container .AccordionItem .AccordionItemPanel {
  background: #1a1a1a;
  color: #fff;
  font-size: 16px;
  padding: 40px 25px;
  user-select: none;
}

.chart-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.chart-container #myChart {
  width: 420px;
  height: 420px;
}
.chart-container .chart-details {
  align-self: flex-start;
}
.chart-container .chart-details h3 {
  margin: 70px 0 20px;
  font-size: 29px;
  font-weight: bold;
  text-decoration: underline;
}
.chart-container .chart-details ul {
  text-align: start;
  list-style-type: square;
}
.chart-container .chart-details ul li {
  font-size: 21px;
  margin-block: 10px;
}

/*# sourceMappingURL=about.css.map */
